body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.card-title {
    color: cornsilk;
    text-align: center;
}

.card-text {
    color: cornsilk;
    text-align: center;
    margin-top: 4px;
}

.card {
    border-radius: 3em;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 6px;
}